In [50]:
import pandas as pd
import os

In [55]:
PATH = os.getcwd()
dados_cultura_area = pd.read_excel(PATH + '\\data\\tabela9026.xlsx',
                      skiprows=1)
dados_cultura_area.head()

,Variável,Grande Região,Condição do produtor em relação às terras,Grupos de atividade econômica,Produtos da lavoura permanente,Cor ou raça do produtor,Ano,Unnamed: 7
0,Área total existente na data de referência nas...,Norte,Total,Total,Abacate,Total,2017.0,473
1,NaN,NaN,NaN,NaN,Açaí (fruto),Total,2017.0,135948
2,NaN,NaN,NaN,NaN,Acerola,Total,2017.0,1068
3,NaN,NaN,NaN,NaN,"Agave, sisal (fibra)",Total,2017.0,X
4,NaN,NaN,NaN,NaN,"Agave, sisal (folha)",Total,2017.0,X

In [56]:
dados_cultura_area.drop(['Variável',
            'Grande Região',
            'Condição do produtor em relação às terras',
            'Grupos de atividade econômica',
            'Cor ou raça do produtor',
            'Ano'],
            axis=1,
            inplace=True)

dados_cultura_area.rename(columns={'Unnamed: 7':'Área (Ha)'}, inplace=True)
dados_cultura_area = dados_cultura_area[dados_cultura_area['Área (Ha)']!='X']
dados_cultura_area.dropna(inplace=True)
dados_cultura_area['Área (Ha)'] = dados_cultura_area['Área (Ha)'].astype(int)
dados_cultura_area.sort_values(by='Área (Ha)', ascending=False, inplace=True)
dados_cultura_area.head()

                       Produtos da lavoura permanente  Área (Ha)
1                                        Açaí (fruto)     135948
14                                    Cacau (amêndoa)     118978
25                                       Dendê (coco)      99235
16  Café canephora (robusta, conilon) em grão (verde)      55650
11                                             Banana      55646